body {
    font-family: Roboto, serif;
}

.header-container {
    background: #1F2937;
    padding: 10px 200px 100px 200px;
    display: flex;
    flex-direction: column;
}

a, .hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none; 
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-bar {
    margin-bottom: 125px;
    display: flex;
    justify-content: space-between;
}

.link-container {
    display: flex;
    gap: 20px;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-content {
    display: flex;
    justify-content: space-between;
}

.hero-text-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
    height: 35px;
    width: 80px;
    color: #F9FAF8;
    font-weight: bold;
}

/* RANDOM INFORMATION SECTION */
.information-img, .subtext {
    height: 175px;
    width: 175px;
    border-radius: 15px;
    text-align: center;
}

.information-img {
    border: 3px solid #3882F6;
    margin-bottom: 5px;
}

.information-title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding: 50px;
}

.information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* INSPIRATIONAL QUOTE */
.inspirational-quote-section {
    background-color: #e5e7eb;
}

.quote-container {
    padding: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    padding: 0;
    margin-bottom: 10px;
}

.author {
    font-weight: bold;
    align-self: flex-end;
}